In [1]:
import numpy as np
import pandas as pd

from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

import locale
import os
import xlrd as xlrd

In [2]:
# Retrieve current working directory (`cwd`)
cwd = os.getcwd()
cwd

'/Users/somya/Projects/nyc_property_sales'

In [3]:

# Change directory 
#os.chdir("data/raw")

# List all files and directories in current directory
excel_files = os.listdir('data/raw')
excel_files

['2015_manhattan.xls',
 '2011_manhattan.xls',
 '2016_manhattan.xls',
 '.DS_Store',
 '2012_manhattan.xls',
 'rollingsales_manhattan.xls',
 'sales_manhattan_03.xls',
 'sales_manhattan_06.xls',
 'sales_manhattan_04.xls',
 'sales_2007_manhattan.xls',
 'sales_manhattan_05.xls',
 '2009_manhattan.xls',
 '2013_manhattan.xls',
 '2017_manhattan.xls',
 'sales_2008_manhattan.xls',
 '2010_manhattan.xls',
 '2014_manhattan.xls']

In [15]:
# Constants
raw_directory = "data/raw/"
csv_directory = "data/csv/"

# Only handle xls files

excel_files = [k for k in excel_files if '.xls' in k]

In [17]:
excel_files[:len(excel_files)]

['2015_manhattan.xls',
 '2011_manhattan.xls',
 '2016_manhattan.xls',
 '2012_manhattan.xls',
 'rollingsales_manhattan.xls',
 'sales_manhattan_03.xls',
 'sales_manhattan_06.xls',
 'sales_manhattan_04.xls',
 'sales_2007_manhattan.xls',
 'sales_manhattan_05.xls',
 '2009_manhattan.xls',
 '2013_manhattan.xls',
 '2017_manhattan.xls',
 'sales_2008_manhattan.xls',
 '2010_manhattan.xls',
 '2014_manhattan.xls']

In [18]:

# Load the first file
all_sales_data = pd.DataFrame()

for excel_file in excel_files:
    print(excel_file)
    # Read excel, Note the headers coulb in row 4 or row 5 (index=3 or 4). 
    yearly_sales_data = pd.read_excel(raw_directory+excel_file, header=3, encoding='sys.getfilesystemencoding()')
    print(yearly_sales_data.shape)
    # Check for start of data if the first column is a "BOROUGH"
    if not yearly_sales_data.columns[0].startswith('BOROUGH'):
        # Otherwise the data starts from row 5.
         yearly_sales_data = pd.read_excel(raw_directory+excel_file, header=4, encoding='sys.getfilesystemencoding()')
            
    yearly_sales_data.rename(columns=lambda x: x.strip(), inplace=True)
        
    all_sales_data = all_sales_data.append(yearly_sales_data)
    print(all_sales_data.shape)

    
all_sales_data

2015_manhattan.xls
(24990, 21)
(24989, 21)
2011_manhattan.xls
(21501, 21)
(46489, 21)
2016_manhattan.xls
(21242, 21)
(67730, 21)
2012_manhattan.xls
(26259, 21)
(93988, 21)
rollingsales_manhattan.xls
(16829, 21)
(110816, 21)
sales_manhattan_03.xls
(22210, 21)
(133026, 21)
sales_manhattan_06.xls
(26352, 21)
(159378, 21)
sales_manhattan_04.xls
(25894, 21)
(185272, 21)
sales_2007_manhattan.xls
(28439, 21)
(213711, 21)
sales_manhattan_05.xls
(26388, 21)
(240099, 21)
2009_manhattan.xls
(19166, 21)
(259265, 21)
2013_manhattan.xls
(26716, 21)
(285980, 21)
2017_manhattan.xls
(18643, 21)
(304622, 23)
sales_2008_manhattan.xls
(25994, 21)
(330616, 23)
2010_manhattan.xls
(17296, 21)
(347912, 23)
2014_manhattan.xls
(24525, 21)
(372436, 23)

,ADDRESS,APARTMENT NUMBER,BLOCK,BOROUGH,BUILDING CLASS AS OF FINAL ROLL 17/18,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS CATEGORY,COMMERCIAL UNITS,EASE-MENT,...,NEIGHBORHOOD,RESIDENTIAL UNITS,SALE DATE,SALE PRICE,TAX CLASS AS OF FINAL ROLL 17/18,TAX CLASS AT PRESENT,TAX CLASS AT TIME OF SALE,TOTAL UNITS,YEAR BUILT,ZIP CODE
0,526 EAST 5TH STREET,,400,1,NaN,A4,A4,01 ONE FAMILY DWELLINGS,0,,...,ALPHABET CITY,1,2015-03-18,6500000,NaN,1,1,1,1900,10009
1,264 EAST 7TH STREET,,376,1,NaN,C0,C0,03 THREE FAMILY DWELLINGS,0,,...,ALPHABET CITY,3,2015-10-22,3775000,NaN,1,1,3,1900,10009
2,243 EAST 7TH STREET,,377,1,NaN,C0,C0,03 THREE FAMILY DWELLINGS,0,,...,ALPHABET CITY,3,2015-06-24,2900000,NaN,1,1,3,1899,10009
3,238 EAST 4TH STREET,-,399,1,NaN,R6,R6,04 TAX CLASS 1 CONDOS,0,,...,ALPHABET CITY,1,2015-06-15,6995000,NaN,1C,1,1,1955,10009
4,326 EAST 4TH STREET,,373,1,NaN,C1,C1,07 RENTALS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,10,2015-11-17,20000000,NaN,2B,2,10,1899,10009
5,328 EAST 4TH STREET,,373,1,NaN,C1,C1,07 RENTALS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,10,2015-11-17,0,NaN,2B,2,10,1900,10009
6,102 AVENUE C,,376,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,3,,...,ALPHABET CITY,26,2015-02-05,14550000,NaN,2,2,29,1900,10009
7,102 AVENUE C,,376,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,3,,...,ALPHABET CITY,26,2015-02-05,0,NaN,2,2,29,1900,10009
8,112 AVENUE C,,377,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,3,,...,ALPHABET CITY,22,2015-09-10,16700000,NaN,2,2,25,1900,10009
9,112 AVENUE C,,377,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,3,,...,ALPHABET CITY,22,2015-09-10,0,NaN,2,2,25,1900,10009
10,133 AVENUE D,,379,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,20,2015-03-11,10500000,NaN,2,2,22,1930,10009
11,250-254 EAST 4TH STREET,,386,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,34,2015-01-29,800265,NaN,2,2,35,1900,10009
12,620 EAST 6TH STREET,,387,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,22,2015-12-09,11250000,NaN,2,2,24,1920,10009
13,620 EAST 6TH STREET,,387,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,22,2015-12-09,0,NaN,2,2,24,1920,10009
14,620-622 EAST 6TH STREET,,387,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,22,2015-12-09,0,NaN,2,2,24,1920,10009
15,315 EAST 8TH STREET,,391,1,NaN,C3,C3,07 RENTALS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,4,2015-12-18,0,NaN,2A,2,4,1900,10009
16,155 AVENUE C,,392,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,17,2015-05-29,1373501,NaN,2,2,18,1900,10009
17,190 EAST 2ND STREET,,398,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,4,,...,ALPHABET CITY,28,2015-10-02,17000000,NaN,2,2,32,1900,10009
18,205 EAST 4TH STREET,,400,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,8,2015-08-26,6490000,NaN,2B,2,9,1900,10009
19,205 EAST 4TH STREET,,400,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,8,2015-08-26,0,NaN,2B,2,9,1900,10009
20,205 EAST 4TH STREET,,400,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,8,2015-08-26,0,NaN,2B,2,9,1900,10009
21,526 EAST 6TH STREET,,401,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,1,,...,ALPHABET CITY,17,2015-07-23,0,NaN,2,2,18,1900,10009
22,510 EAST 12TH STREET,,405,1,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,20,2015-09-10,5200000,NaN,2,2,22,1920,10009
23,514 EAST 12TH STREET,,405,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,20,2015-09-10,7140000,NaN,2,2,20,1920,10009
24,194 AVENUE A,,406,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,6,2015-11-04,16750000,NaN,2B,2,8,1910,10009
25,194 AVENUE A,,406,1,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,2,,...,ALPHABET CITY,6,2015-11-04,0,NaN,2B,2,8,1910,10009
26,542 EAST 5TH STREET,,400,1,NaN,D6,D6,08 RENTALS - ELEVATOR APARTMENTS,2,,...,ALPHABET CITY,81,2015-07-17,6588183,NaN,2,2,83,1970,10009
27,"327 EAST 3RD STREET, 4B",,373,1,NaN,C6,C6,09 COOPS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,0,2015-05-12,430000,NaN,2,2,0,1920,10009
28,"311 EAST 3RD STREET, 30",,373,1,NaN,C6,C6,09 COOPS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,0,2015-02-18,420000,NaN,2,2,0,1920,10009
29,"311 EAST 3RD STREET, 16",,373,1,NaN,C6,C6,09 COOPS - WALKUP APARTMENTS,0,,...,ALPHABET CITY,0,2015-05-29,450000,NaN,2,2,0,1920,10009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24494,255 CABRINI BLVD,7E,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-10-01,363800,NaN,2,2,1,1987,10040
24495,255 CABRINI BOULEVARD,4G,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-07-22,310000,NaN,2,2,1,1987,10040
24496,255 CABRINI BOULEVARD,6K,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-11-25,430000,NaN,2,2,1,1987,10040
24497,340 CABRINI BOULEVARD,1,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-11-11,375000,NaN,2,2,1,2002,10040
24498,340 CABRINI BOULEVARD,101,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-07-18,545000,NaN,2,2,1,2002,10040
24499,340 CABRINI BOULEVARD,201,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-07-08,790000,NaN,2,2,1,2002,10040
24500,340 CABRINI BOULEVARD,202,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-04-22,322500,NaN,2,2,1,2002,10040
24501,340 CABRINI BOULEVARD,601,2179,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-07-02,665000,NaN,2,2,1,2002,10040
24502,736 WEST 187 STREET,207,2180,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-06-16,625000,NaN,2,2,1,2003,10033
24503,736 WEST 187TH STREET,303,2180,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-10-15,800000,NaN,2,2,1,2003,10033
24504,736 WEST 187 STREET,305,2180,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-04-22,825000,NaN,2,2,1,2003,10033
24505,736 WEST 187 STREET,306,2180,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-06-04,740000,NaN,2,2,1,2003,10033
24506,736 WEST 187 STREET,501,2180,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,WASHINGTON HEIGHTS UPPER,1,2014-10-03,840000,NaN,2,2,1,2003,10033
24507,500 WEST 184TH STREET,,2155,1,NaN,S9,S9,14 RENTALS - 4-10 UNIT,2,,...,WASHINGTON HEIGHTS UPPER,2,2014-09-17,0,NaN,2A,2,4,1900,10033
24508,4250 BROADWAY,,2163,1,NaN,K2,K2,22 STORE BUILDINGS,20,,...,WASHINGTON HEIGHTS UPPER,0,2014-12-08,36700000,NaN,4,4,20,1914,10033
24509,118 DYCKMAN STREET,,2174,1,NaN,K2,K2,22 STORE BUILDINGS,2,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-29,0,NaN,4,4,2,1922,10040
24510,116A DYCKMAN STREET,,2174,1,NaN,K2,K2,22 STORE BUILDINGS,2,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-29,0,NaN,4,4,2,1922,10040
24511,116 DYCKMAN STREET,,2174,1,NaN,K2,K2,22 STORE BUILDINGS,2,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-29,0,NaN,4,4,2,1922,10040
24512,114 DYCKMAN STREET,,2174,1,NaN,K2,K2,22 STORE BUILDINGS,1,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-29,0,NaN,4,4,1,1922,10040
24513,653 WEST 187 STREET,,2170,1,NaN,V1,V1,31 COMMERCIAL VACANT LAND,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-04-09,195000,NaN,4,4,0,0,10033
24514,N/A DYCKMAN STREET,,2174,1,NaN,V9,V9,31 COMMERCIAL VACANT LAND,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-29,0,NaN,4,4,0,0,10040
24515,N/A CABRINI BOULEVARD,,2179,1,NaN,V1,V1,31 COMMERCIAL VACANT LAND,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-02-19,0,NaN,4,4,0,0,10033
24516,205 CABRINI BOULEVARD,,2179,1,NaN,V1,V1,31 COMMERCIAL VACANT LAND,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-02-19,0,NaN,4,4,0,0,10033
24517,815 WEST 179TH STREET,,2177,1,NaN,M1,M1,37 RELIGIOUS FACILITIES,1,,...,WASHINGTON HEIGHTS UPPER,0,2014-06-17,2580000,NaN,4,4,1,1967,10033
24518,736 WEST 187 STREET,PRK4,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-01-14,30000,NaN,4,4,1,2003,10033
24519,736 WEST 187 STREET,PRK11,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-04-22,0,NaN,4,4,1,2003,10033
24520,736 WEST 187 STREET,PRK16,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-06-04,0,NaN,4,4,1,2003,10033
24521,736 WEST 187 STREET,PRK17,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-06-16,0,NaN,4,4,1,2003,10033
24522,736 WEST 187 STREET,PRK20,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-07-07,50000,NaN,4,4,1,2003,10033
24523,736 WEST 187 STREET,PRK24,2180,1,NaN,RG,RG,44 CONDO PARKING,0,,...,WASHINGTON HEIGHTS UPPER,0,2014-10-03,0,NaN,4,4,1,2003,10033

In [114]:
all_sales_data.sample(10)

,ADDRESS,APARTMENT NUMBER,BLOCK,BOROUGH,BUILDING CLASS AS OF FINAL ROLL 17/18,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS CATEGORY,COMMERCIAL UNITS,EASE-MENT,...,NEIGHBORHOOD,RESIDENTIAL UNITS,SALE DATE,SALE PRICE,TAX CLASS AS OF FINAL ROLL 17/18,TAX CLASS AT PRESENT,TAX CLASS AT TIME OF SALE,TOTAL UNITS,YEAR BUILT,ZIP CODE
12572,102 WEST 57TH STREET,,1009,1,NaN,H2,H2,25 LUXURY HOTELS,2,,...,MIDTOWN WEST,0,2013-01-14,48835,NaN,4,4,2,2007,10019
24804,"215 WEST 91ST STREET, 33",,1239,1,NaN,D4,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,UPPER WEST SIDE (79-96),0,2012-02-22,1162500,NaN,2,2,0,1917,10025
13856,1335 AVENUE OF THE AMERIC,HU2,1006,1,NaN,RH,RH,45 CONDO HOTELS,0,,...,MIDTOWN WEST,0,2015-10-28,45000,NaN,4,4,1,1963,10019
7045,"45 PARK TERRACE WEST, 4F",,2243,1,NaN,D4,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,INWOOD,0,2005-06-27,245000,NaN,2,2,0,1940,10034
4261,"92 HORATIO STREET, 3C",,642,1,NaN,D4,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,GREENWICH VILLAGE-WEST,0,2011-06-29,315000,NaN,2,2,0,1920,10014
17556,"80 WARREN STREET, 67",,137,1,NaN,D4,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,TRIBECA,0,2013-07-30,2850000,NaN,2,2,0,1915,10007
24118,"321 WEST 90 STREET, 3E",,1251,1,NaN,D4,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,UPPER WEST SIDE (79-96),0,2004-08-18,540000,NaN,2,2,0,1929,10024
4954,"1 WEST 126TH STREET, 6F",,1724,1,D4,NaN,D4,10 COOPS - ELEVATOR APARTMENTS,0,,...,HARLEM-CENTRAL,0,2017-05-09,302000,2,NaN,2,0,1940,10035
10435,350 WEST 42ND STREET,20D,1032,1,NaN,R4,R4,13 CONDOS - ELEVATOR APARTMENTS,0,,...,MIDTOWN WEST,1,2014-08-26,1100000,NaN,2,2,1,2004,10036
22043,"161 WEST 75TH STREET, 11C",,1147,1,NaN,R9,R9,17 CONDO COOPS,0,,...,UPPER WEST SIDE (59-79),0,2014-07-25,1250000,NaN,2,2,0,1925,10023

In [19]:
# save to csv
all_sales_data.to_csv(csv_directory+"manhattan.csv")