# Predicting NYC apartment's value with open data

According to real estate brokers in NYC, there are a variety of factors they consider to determine the value of your apartment, not limited to

1. Recent sales in your building / Neighbourhood
2. Square footage
3. Renovation status
4. View, close to subway, # of bedrooms etc. 

Unfortunately this data, especially apt sq footage, is not easily available for non REBNY members. 

In this notebook, I will explore an alternative approach to price Manhattan apartments.

In [2]:
import numpy as np
import pandas as pd

from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from constants import *

import locale
import os
import xlrd as xlrd

## Import data

Source
1. [Annualized Sales Data](https://www1.nyc.gov/site/finance/taxes/property-annualized-sales-update.page)
2. [Rolling Sale data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [3]:

# Retrieve current working directory (`cwd`)
cwd = os.getcwd()

# List data files and directories in current directory
excel_files = os.listdir(raw_directory)

# Select only tje xls files
excel_files = [k for k in excel_files if '.xls' in k]

In [4]:
excel_files[:len(excel_files)]

['2015_manhattan.xls',
 '2011_manhattan.xls',
 '2016_manhattan.xls',
 '2012_manhattan.xls',
 'rollingsales_manhattan.xls',
 'sales_manhattan_03.xls',
 'sales_manhattan_06.xls',
 'sales_manhattan_04.xls',
 'sales_2007_manhattan.xls',
 'sales_manhattan_05.xls',
 '2009_manhattan.xls',
 '2013_manhattan.xls',
 '2017_manhattan.xls',
 'sales_2008_manhattan.xls',
 '2010_manhattan.xls',
 '2014_manhattan.xls']

Unfortunately not all files are formatted the same was. Some have the header in row 4, others in row 5. We can check by making sure 'BOROUGH' is the first column in the imported dataset

In [5]:

# Create an data store
all_sales_data = pd.DataFrame()

# Load individual excel files. 
for excel_file in excel_files:
    print(excel_file)
    
    # Read excel, Note the headers could in row 4 or row 5 (index=3 or 4). 
    yearly_sales_data = pd.read_excel(raw_directory+excel_file, header=3, encoding='sys.getfilesystemencoding()')
   
    # Check if the first column is "BOROUGH"
    if not yearly_sales_data.columns[0].startswith('BOROUGH'):
        # Otherwise the data starts from row 5.
         yearly_sales_data = pd.read_excel(raw_directory+excel_file, header=4, encoding='sys.getfilesystemencoding()')
    
    print(yearly_sales_data.shape)
    
    yearly_sales_data.rename(columns=lambda x: x.strip(), inplace=True)
    
    all_sales_data = all_sales_data.append(yearly_sales_data)
    
    print(all_sales_data.shape)

2015_manhattan.xls

(24989, 21)
(24989, 21)
2011_manhattan.xls

(21500, 21)
(46489, 21)
2016_manhattan.xls

(21241, 21)
(67730, 21)
2012_manhattan.xls

(26258, 21)
(93988, 21)
rollingsales_manhattan.xls

(16828, 21)
(110816, 21)
sales_manhattan_03.xls

(22210, 21)
(133026, 21)
sales_manhattan_06.xls

(26352, 21)
(159378, 21)
sales_manhattan_04.xls

(25894, 21)
(185272, 21)
sales_2007_manhattan.xls

(28439, 21)
(213711, 21)
sales_manhattan_05.xls

(26388, 21)
(240099, 21)
2009_manhattan.xls

(19166, 21)
(259265, 21)
2013_manhattan.xls

(26715, 21)
(285980, 21)
2017_manhattan.xls

(18642, 21)
(304622, 23)
sales_2008_manhattan.xls

/Users/somya/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(25994, 21)
(330616, 23)
2010_manhattan.xls

(17296, 21)

(347912, 23)
2014_manhattan.xls

(24524, 21)

(372436, 23)

Spot check to verify data

In [6]:

all_sales_data.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ADDRESS</th>
      <th>APARTMENT NUMBER</th>
      <th>BLOCK</th>
      <th>BOROUGH</th>
      <th>BUILDING CLASS AS OF FINAL ROLL 17/18</th>
      <th>BUILDING CLASS AT PRESENT</th>
      <th>BUILDING CLASS AT TIME OF SALE</th>
      <th>BUILDING CLASS CATEGORY</th>
      <th>COMMERCIAL UNITS</th>
      <th>EASE-MENT</th>
      <th>...</th>
      <th>NEIGHBORHOOD</th>
      <th>RESIDENTIAL UNITS</th>
      <th>SALE DATE</th>
      <th>SALE PRICE</th>
      <th>TAX CLASS AS OF FINAL ROLL 17/18</th>
      <th>TAX CLASS AT PRESENT</th>
      <th>TAX CLASS AT TIME OF SALE</th>
      <th>TOTAL UNITS</th>
      <th>YEAR BUILT</th>
      <th>ZIP CODE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1278</th>
      <td>405 WEST 57TH STREET, 4H</td>
      <td></td>
      <td>1067</td>
      <td>1</td>
      <td>NaN</td>
      <td>D4</td>
      <td>D4</td>
      <td>10  COOPS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>CLINTON</td>
      <td>0</td>
      <td>2009-08-19</td>
      <td>494800</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1940</td>
      <td>10019</td>
    </tr>
    <tr>
      <th>7412</th>
      <td>768 5 AVENUE</td>
      <td>1302</td>
      <td>1274</td>
      <td>1</td>
      <td>NaN</td>
      <td>R4</td>
      <td>R4</td>
      <td>13  CONDOS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>MIDTOWN WEST</td>
      <td>1</td>
      <td>2009-11-17</td>
      <td>1090000</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>10019</td>
    </tr>
    <tr>
      <th>964</th>
      <td>539 AVENUE OF THE AMER</td>
      <td></td>
      <td>790</td>
      <td>1</td>
      <td>K4</td>
      <td>NaN</td>
      <td>K4</td>
      <td>22 STORE BUILDINGS</td>
      <td>2</td>
      <td></td>
      <td>...</td>
      <td>CHELSEA</td>
      <td>2</td>
      <td>2017-04-18</td>
      <td>10600000</td>
      <td>4</td>
      <td>NaN</td>
      <td>4</td>
      <td>4</td>
      <td>1920</td>
      <td>10011</td>
    </tr>
    <tr>
      <th>20744</th>
      <td>510 EAST 80 STREET</td>
      <td>4A</td>
      <td>1576</td>
      <td>1</td>
      <td>NaN</td>
      <td>R4</td>
      <td>R4</td>
      <td>13  CONDOS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>UPPER EAST SIDE (79-96)</td>
      <td>1</td>
      <td>2004-07-07</td>
      <td>505500</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1986</td>
      <td>10021</td>
    </tr>
    <tr>
      <th>13603</th>
      <td>225 EAST 36TH STREET, 17B</td>
      <td></td>
      <td>917</td>
      <td>1</td>
      <td>NaN</td>
      <td>D4</td>
      <td>D4</td>
      <td>10  COOPS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>MURRAY HILL</td>
      <td>0</td>
      <td>2011-11-08</td>
      <td>0</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1963</td>
      <td>10016</td>
    </tr>
    <tr>
      <th>17780</th>
      <td>230 EAST 79TH STREET, 18-F</td>
      <td></td>
      <td>1433</td>
      <td>1</td>
      <td>NaN</td>
      <td>D4</td>
      <td>D4</td>
      <td>10  COOPS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>UPPER EAST SIDE (59-79)</td>
      <td>0</td>
      <td>2005-12-22</td>
      <td>550000</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1964</td>
      <td>10021</td>
    </tr>
    <tr>
      <th>1321</th>
      <td>516 WEST 47TH</td>
      <td>S2J</td>
      <td>1075</td>
      <td>1</td>
      <td>NaN</td>
      <td>R4</td>
      <td>R4</td>
      <td>13  CONDOS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>CLINTON</td>
      <td>1</td>
      <td>2009-11-12</td>
      <td>420000</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>10036</td>
    </tr>
    <tr>
      <th>26170</th>
      <td>643-645 171 STREET</td>
      <td></td>
      <td>2142</td>
      <td>1</td>
      <td>NaN</td>
      <td>C1</td>
      <td>C1</td>
      <td>07  RENTALS - WALKUP APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>WASHINGTON HEIGHTS LOWER</td>
      <td>31</td>
      <td>2013-12-16</td>
      <td>5500000</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>31</td>
      <td>1914</td>
      <td>10032</td>
    </tr>
    <tr>
      <th>398</th>
      <td>223 WEST 21 STREET, 5L</td>
      <td></td>
      <td>771</td>
      <td>1</td>
      <td>NaN</td>
      <td>D4</td>
      <td>D4</td>
      <td>10  COOPS - ELEVATOR APARTMENTS</td>
      <td>0</td>
      <td></td>
      <td>...</td>
      <td>CHELSEA</td>
      <td>0</td>
      <td>2006-04-20</td>
      <td>750000</td>
      <td>NaN</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1889</td>
      <td>10011</td>
    </tr>
    <tr>
      <th>7942</th>
      <td>102 WEST 57TH STREET</td>
      <td></td>
      <td>1009</td>
      <td>1</td>
      <td>NaN</td>
      <td>H2</td>
      <td>H2</td>
      <td>25  LUXURY HOTELS</td>
      <td>2</td>
      <td></td>
      <td>...</td>
      <td>MIDTOWN WEST</td>
      <td>0</td>
      <td>2010-08-02</td>
      <td>32505</td>
      <td>NaN</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2007</td>
      <td>10019</td>
    </tr>
  </tbody>
</table>
<p>10 rows × 23 columns</p>
</div>

In [7]:
# Check for duplicate entries
sum(all_sales_data.duplicated(all_sales_data.columns))

16137

In [8]:
#Delete the duplicates and check that it worked
all_sales_data = all_sales_data.drop_duplicates(all_sales_data.columns, keep='last')
sum(all_sales_data.duplicated(all_sales_data.columns))

0

Save the data as a CSV for further clean up and analyis. See Step 2.

In [9]:
# save to csv
all_sales_data.to_csv(csv_directory+"manhattan.csv")